html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px;
    background-color: #d3e4e4;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#9bf0eb;
    font-size: 0.9em;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}